## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a = 6
print(a)

6

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [8]:
mi_nombre = 'Giselle Gomez'

5) Crear una variable que contenga un número complejo

In [9]:
n_complejo = 3 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
print(type(n_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
Pi = 3.1416
print(round(Pi,4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [18]:
print('la variable 1 es de tipo ' ,type(var1), 'y la variable 2 es de tipo' , type(var2))

la variable 1 es de tipo  <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [5]:
var3 = 3 + 4.1

11) Realizar una operación de suma de números complejos

In [2]:
var4 = 2 + 2j
var5 = 1 + 3j
print(var4 + var5)

(3+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [6]:
print(3.5 + var4)

(5.5+2j)

13) Realizar una operación de multiplicación

In [3]:
print(4*3)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [4]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [8]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [9]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [10]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [12]:
b = (4*6)+3
print(b)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [14]:
c = 'Puerto'
d = ' Ordaz'
print(c + d)

Puerto Ordaz

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [17]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [18]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

a -= 1 es igual a decir a - 1

In [19]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

esta operación es en formato binario.

In [25]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [34]:
int(2) + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
v1 = 'ja'
v2 = 3
v3 = ' qué gracioso'
print((v1*v2) + v3)

jajaja qué gracioso